@media only screen and (max-width: 320) {
  .checking {
    margin-top: -600px !important;
  }
}
.checking {
  margin-top: -700px !important;
}
@media only screen and (max-width: 320) {
  .largeMargin {
    margin-top: -400px !important;
  }
}
.largeMargin {
  margin-top: -500px !important;
}
.test {
  margin-left: -130px !important;
}

